@font-face {
    font-family: fuente;
    src: url(../fonts/Roboto-ThinItalic.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #1B396A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 10%;
}
header img{
    display:flex;  
    height:100%;
}


 .login {
    max-width: 400px;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
}
    div form {
        max-width: 400px;
        
        margin:auto;
    }

div h2 {
    display:flex;
    justify-content:center;
    text-transform:uppercase;
    font-family: fuente;
    margin-bottom: 20px;
}

    div label,
    div input {
        font-family:fuente;
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
    

    div input {
        padding: 10px;
        border: 1px solid #ccc;
        display:flex;
        justify-content:center;
    }

div button {
    display: flex;
    justify-content: center;
    background-color: #1B396A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px auto;
    font-weight:bold;
}
div a {
    color:#1B396A;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
    /* Estilos del modal */
.modal {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    display: none;
 
 
}



.modal form {
    max-width: 400px;
    background: white;
    width: 60%;
    padding: 20px;
    display: flex;
    margin: auto;
    gap: 10px;
    flex-wrap: wrap;
}
    .modal h1 {
        border-bottom: 1px solid #ccc;
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }
    .modal hr {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        border: none;
    }
    .modal div{
        display:flex;
        width:100%;
        justify-content:end;
    }
        .modal div input {
            width: 80px;
            height: 100%;
            margin: 5px;
            
            font-weight:bold;
            
        }
.botonrecuperar {
    width: 80px;
    height: 100%;
    margin: 5px;
    color: white;
    font-weight: bold;
    background: #1B396A;
}
.botonfinalizar {
    margin: 5px;
    color: white;
    font-weight: bold;
    background: #1B396A;
}


@media screen and (max-width: 768px)  {
    .login {
        width: 80%; 
        padding: 20px; 
    }

    div h2 {
        font-size: 30px; 
        margin-bottom: 20px; 
    }
    
}






