

@font-face {
    font-family: fuente;
    src: url(../Fonts/Roboto-ThinItalic.ttf);
}


header {
    background-color: #1B396A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 10%;
}

    header img {
        display: flex;
        height: 100%;
    }


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 30px;
    margin: 0 15px;
    background-color: #F4F4F2;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


    .container form {
        position: relative;
        margin-top: 16px;
        min-height: 400px;
        background-color: #F4F4F2;
    }

        .container form .title {
            font-size: 16px;
            font-weight: 500;
            margin: 6px;
        }

        .container form .fields {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            font-family: fuente;
            font-weight: bold
        }

form .fields.input-box {
    display: flex;
    width: calc(100%/3-15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-box input {
    height: 21px;
    margin: 17px 0;
    padding: 0 30px;
    border: none;
}

select {
    margin: 8px 0;
    padding: 0 70px;
    border: none;
}



.botones {


    display: flex;
    position: absolute;
    right: 0px;
    bottom:0;
    margin:-15px;
   
}

button {

    
    color: white;
    background-color: #1B396A;
    margin: 5px;
    border: none;
    height: 25px;
    font-family: fuente;
    font-size: 15px;
    font-weight:bold;
}
