@font-face {
    font-family: fuente;
    src: url(../Fonts/Roboto-ThinItalic.ttf);
}


html body {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 10%;
    justify-content: space-between;
    background-color: #1B396A;
}

    header nav {
        display: flex;
        align-items: center;
    }

        header nav p {
            font-size: 20px;
            color: white;
            font-weight: bold;
        }

    header img {
        height: 80%;
    }

    header .imgU {
        height: 40%;
        
    }

.content {
    flex: 1;
    height: auto;
    display: flex;
    background-color: whitesmoke;
}


.Boton1 {
    width: 25%;
    border-right: 5px solid #D9D9D9;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.Boton2 {
    width: 100%;
    height: 70px;
    background: white;
    color: white;
    font-weight: bold;
    margin-top: 70px;
}

    .Boton2 input {
        width: 100%;
        height: 60px;
        background: #1B396A;
        color: white;
        font-weight: bold;
        border: none;
    }

.Boton3 {
    width: 100%;
    height: 70px;
    background: #1B396A;
    color: white;
    font-weight: bold;
    margin-top: 70px;
}

    .Boton3 input {
        width: 100%;
        height: 60px;
        background: #1B396A;
        color: white;
        font-weight: bold;
        border: none;
    }



.Boton4 {
    width: 100%;
    height: 70px;
    background: #1B396A;
    color: white;
    font-weight: bold;
    margin-top: 70px;
}


    .Boton4 input {
        width: 100%;
        height: 60px;
        background: #1B396A;
        color: white;
        font-weight: bold;
        border: none;
    }

.solicitudes {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}


    .solicitudes .iconos {
        position: relative;
        display: flex;
       
        justify-content:center;
    }
.iconos img{
    height:45px;
    margin:20px;
    margin-top:5px;
}
   

    .solicitudes ul {
        margin-top: 29px;
        margin-left: -30px;
        margin-right: 20px;
    }

    .solicitudes ul li {
        list-style: none;
        position: relative;
        display: flex;
        background-color: #E4E4E4;
        padding: 18px 19px;
        font-family: fuente;
        font-weight: bold;
        font-size: 19px;
        margin-top: 10px;
    }

.solicitudes .NumControl {
    position: absolute;
    right: 12px;
    transform: translateY(-50%);
    top: 50%;
}


    header nav {
        display: flex;
        align-items: center;
    }

        header nav p {
            font-size: 20px;
            color: white;
            font-weight: bold;
        }

    header img {
        height: 80%;
    }

    header .imgU {
        height: 50%;
    }

.content {
    flex: 1;
    height: auto;
    display: flex;
    background-color: whitesmoke;
}


.Boton1 {
    width: 25%;
    border-right: 5px solid #D9D9D9;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.Boton2 {
    width: 100%;
    height: 70px;
    background: white;
    color: white;
    font-weight: bold;
    margin-top: 70px;
}

    .Boton2 input {
        width: 100%;
        height: 60px;
        background: #1B396A;
        color: white;
        font-weight: bold;
        border: none;
    }

.Boton3 {
    width: 100%;
    height: 70px;
    background: #1B396A;
    color: white;
    font-weight: bold;
    margin-top: 70px;
}

    .Boton3 input {
        width: 100%;
        height: 60px;
        background: #1B396A;
        color: white;
        font-weight: bold;
        border: none;
    }



.Boton4 {
    width: 100%;
    height: 70px;
    background: #1B396A;
    color: white;
    font-weight: bold;
    margin-top: 70px;
}


    .Boton4 input {
        width: 100%;
        height: 60px;
        background: #1B396A;
        color: white;
        font-weight: bold;
        border: none;
    }






.solicitudes .NumControl {
    position: absolute;
    right: 12px;
    transform: translateY(-50%);
    top: 50%;
}
.verlistacarrera {
    flex: 1;
    display: none;
    flex-direction: column;
    margin: 10px;
}

    .verlistacarrera h1 {
        text-align: center;
    }

    .verlistacarrera p {
        text-align: center;
        font-size: 20px;
    }

    .verlistacarrera ul {
        padding: 10px;
        border: 5px solid #D9D9D9;
        margin: 5px;
        flex: 1;
        text-align: center;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center
    }

        .verlistacarrera ul li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            border-top: 50px solid yellow;
            border-bottom: 50px solid yellow;
            border-left: 1px solid #D9D9D9;
            border-right: 1px solid #D9D9D9;
            border-color: #1B396A;
            background: white;
            margin: 5px;
            width: 200px;
            height: 150px;
        }




/*este desc ellipse div de tareas*/


.solicitude {
    flex: 1;
    display: none;
    flex-direction: column;
    margin: 10px;
}


    .solicitude .tareas {
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 22px;
        height: 6%;
       
    }

.tareas button {
    margin: 3px;
    width: 100%;
    height: 65%;
    border: none;
    background: #1B396A;
    color: white;
    font-family: fuente;
    text-align: center;
    font-weight: bold;
    font-size:19px;
}

.solicitude ul {
    margin-top: 29px;
    margin-left: -30px;
    margin-right: 20px;
}

  .solicitude  ul li {
        list-style: none;
        position: relative;
        display: flex;
        background-color: #E4E4E4;
        padding: 18px 19px;
        font-family: fuente;
        font-weight: bold;
        font-size: 19px;
        margin-top: 10px;
        font-family: fuente;
    }

.solicitude .NumControl {
    position: absolute;
    right: 12px;
    transform: translateY(-50%);
    top: 50%;
}
.solicitude{
    display:none;
}

