@page
@model Residenciasweb.pages.admin.departamento.AlumnoscontareasModel
@{
}
<html>
<head>
    <link href="~/styles/altareas.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>

        <nav>
            <p>RESIDENCIAS PROFESIONALES</p>
        </nav>

        <nav>
            <img class="imgU" src="~/img/usuario.png" />
        </nav>

    </header>

    <div class="Content">
        <div class="Boton1">


            <div class="Boton2">

                <input type="button" value="Solicitudes" />

            </div>

            <div class="Boton3">
                <input type="button" value="Tareas" />
            </div>




        </div>

        <div class="solicitudes">

            <div class="tareas">

                <button>1.0</button>
                <button>2.0</button>
                <button>3.0</button>
                <button>4.0</button>
                <button>5.0</button>



            </div>

            <ul>
                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>


            </ul>

        </div>

        <script src="~/scripts/altareas.js"></script>



    </div>
</body>
</html>