@page
@model Residenciasweb.pages.admin.departamento.ControlEscolarModel
@{
}
<html>
<head>
    <link href="~/styles/solicitudes.css" rel="stylesheet" />

</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>

        <nav>
            <p id="Nombreadmin"></p>
        </nav>

        <nav>
            <img id="cerrarsesion" class="imgU" src="~/img/cerrar.png" />
        </nav>

    </header>
    <a></a>
    <div class="ContenedorPrincipal">

        <section class="botones">

            <div class="Boton2">
                <label>Fecha:</label>
                <select id="traerfecha"></select>

            </div>
            <div class="Check">
                <label>Entregadas</label>
                <input id="check1" type="checkbox" />

            </div>
            <div class="Check2">

                <label>No Entregadas</label>
                <input id="check2" type="checkbox" />
            </div>
            <div class="NumTareas">
                <label>Carreras:</label>
                <select id="carrerasss">
                    <option value="1">Ingeniería Industrial</option>
                    <option value="2">Ingeniería Industrial mixta</option>
                    <option value="3">Ingeniería Sistemas</option>
                    <option value="4">Ingeniería Sistemas mixtas</option>
                    <option value="5">Ingeniería Electromecanica</option>
                    <option value="6">Ingeniería Mecatronica</option>
                    <option value="7">Ingeniería Petrolera</option>
                    <option value="8">Ingeniería Administracion</option>
                    <option value="9">Ingeniería Quimica</option>
                    <option value="10">Ingeniería Animacion Digital</option>
                    <option value="11">Ingeniería Administracion en linea</option>
                    <option value="12">Ver todas las carreras</option>
                </select>
            </div>
            <div class="NumTareas">
                <label>Numero de Tarea:</label>
                <select id="numtarea">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>

                </select>
            </div>
            <div class="Boton4">
                <input id="vertareas" type="button" value="Tareas" />
            </div>
           

        </section>

        <div class="alumnos">

            <ul>
            </ul>

        </div>


    </div>


    <script src="~/scripts/seguridad.js"></script>
    <script src="~/scripts/controlescolar.js"></script>



</body>
</html>