@page
@model Residenciasweb.pages.admin.departamen.verListadeCarrerasModel
@{
}
<html>
    <head>
        <link href="~/styles/listadecarrera.css" rel="stylesheet" />
        <title></title>
    </head>
    <body>

        <header>
            <nav>
            <img src="~/img/logo.png" />
            </nav>
            <nav>

            <p>RESIDENCIAS PROFESIONALES</p>
            </nav>
        <nav>

            <img src="~/img/usuario.png" />
        </nav>

        </header>
        <div class="contenedor">
            <div class="boton">
                <input type="button" value="Tareas" />

            </div>
            <div class="verlistacarrera">
                <h1>Sistemas Computacionales</h1>
                <p>Hola(Nombre del que inicio sesion)</p>

                <ul>
                    <li>G</li>
                    <li>M</li>
                    <li>G</li>
                    <li>M</li>
                    <li>G</li>
                    <li>M</li>
                    <li>G</li>
                    <li>M</li>
                    <li>G</li>
                    <li>M</li>
                </ul>

            </div>
        </div>
    </body>
</html>
