@page
@model Residenciasweb.pages.admin.departamento.verListaGruposModel
@{
}
<html>
<head>
    <link href="~/styles/listadecarrera.css" rel="stylesheet" />
    <title></title>
    <style></style>
</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>
        <nav>

            <p>RESIDENCIAS PROFESIONALES</p>
        </nav>
        <nav>
            <img class="imgusuario" src="~/img/usuario.png" />
        </nav>

    </header>
    <div class="contenedor">

        <div class="verlistacarrera">
            <h1>Sistemas Computacionales</h1>
            <p>Hola(Nombre del que inicio sesion)</p>

            <ul>
                <li>9.1 M</li>
                <li>9.2 M</li>
               
            </ul>

        </div>
    </div>
    <script src="~/scripts/altareas.js"></script>
</body>
</html>