@page
@model Residenciasweb.pages.login.IndexModel
@{
}
<html>
<head>
    <link href="~/styles/login.css" rel="stylesheet" />
    <title>

    </title>
</head>
<body>
    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>
    </header>
    <div class="login">
        <h2>Iniciar Sesión</h2>
        <form>
            <label>Usuario:</label>
            <input placeholder="Hola" type="text">

            <label >Numero de Control:</label>
            <input id="numeroDeControl" type="text">

            <label>Contraseña:</label>
            <input type="password">

            <a>¿Olvidaste tu contraseña?</a><br />
            <button type="button">Iniciar Sesión</button><br />

            <a>Registrarte</a>


        </form>
    </div>

    <div class="modal">
        <form class="formRecuperarContraseña">

            <h1>Recuperar Contraseña</h1>
            <h3>Introduce tu correo institucional y tu numero de control</h3>
            <input name="numControl" type="text" placeholder="Número de control" @*required pattern="\d{2}1[A-Z][EC0DM]\d{3}" *@/>
            <input name="correoInstituto" type="text" placeholder="Correo institucional" @*required*@ />
            <hr />
            <div>
                <input type="button" value="Cancelar" />
                <input class="botonrecuperar" type="button" value="Recuperar" />
            </div>
            
        </form>
    </div>
    <div class="modal">
        <form class="formMensaje">
           <h1>Recuperar Contraseña</h1>

            <a>Te informamos que su preceso de recuperacion de contraseña a sido exitoso</a>
            <strong @* style="text-transform:uppercase" *@>Se le enviara una nueva contraseña al correo agregado y esto tardara un lapso de 24 - 78 horas </strong>
            <hr />
            <input class="botonfinalizar" type="submit" value="Finalizar" />
        </form>
    </div>
    <script src="~/scripts/login.js"></script>


</body>
</html>