@page
@model Residenciasweb.pages.login.IndexModel
@{
}
<html>
<head>
    <link href="~/styles/login.css" rel="stylesheet" />
    <title>

    </title>
</head>
<body>
    <div>
        <h2>Iniciar Sesión</h2>
        <form>
            <label>Usuario:</label>
            <input type="text">

            <label>Numero de Control:</label>
            <input type="text">

            <label>Contraseña:</label>
            <input type="password">

            <a>¿Olvidaste tu contraseña?</a><br />
            <button type="submit">Iniciar Sesión</button><br />

            <a>Registrarte</a>


        </form>
    </div>

</body>
</html>