@page
@model Residenciasweb.pages.login.SolicitudesModel
@{
}
<html>
<head>
    <link href="~/styles/solicitudes.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>

        <nav>
            <p>RESIDENCIAS PROFESIONALES</p>
        </nav>

        <nav>
            <img class="imgU" src="~/img/usuario.png" />
        </nav>

    </header>

    <div class="Content">
        <div class="Boton1">


            <div class="Boton2">

                <input type="button" value="Solicitudes" />

            </div>

            <div class="Boton3">
                <input type="button" value="Tareas" />
            </div>

            <div class="Boton4">
                <input type="button" value="Registro" />
            </div>


        </div>

        <div class="solicitudes">
            <h2>Solicitudes de Alumnos</h2>


            <ul>
                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>


            </ul>

        </div> 


        <div class="verlistacarrera">
            <h1>Sistemas Computacionales</h1>
            <p>Hola(Nombre del que inicio sesion)</p>

            <ul>
                <li>9.1G</li>
                <li>9.2G</li>

            </ul>

        </div>

        <div class="solicitude">

            <div class="tareas">

                <button>1.0</button>
                <button>2.0</button>
                <button>3.0</button>
                <button>4.0</button>
                <button>5.0</button>



            </div>

            <ul>
                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                </li>


            </ul>

        </div>
  
    </div>



    <script src="~/scripts/solicitudes.js"></script>



</body>
</html>