@page
@model Residenciasweb.pages.login.SolicitudesModel
@{
}
<html>
<head>
    <link href="~/styles/solicitudes.css" rel="stylesheet" />

</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>

        <nav>
            <p>RESIDENCIAS PROFESIONALES</p>
        </nav>

        <nav>
            <img class="imgU" src="~/img/usuario.png" />
        </nav>

    </header>

    <div class="ContenedorPrincipal">

        <section class="botones">

            <div class="Boton2">
                <label>Fecha:</label>
                <select>
                    <option>opcion1</option>
                    <option>opcion2</option>
                    <option>opcion3</option>
                    <option>opcion4</option>
                    <option>opcion5</option>
                    <option>opcion6</option>
                </select>

            </div>
            <div class="Boton4">
                <input type="button" value="Registro" />
            </div>

        </section>

        <div class="alumnos">

            <ul>
                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                    <a class="icono"><img src="/img/clip.png" /></a>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                    <a class="icono"><img src="/img/clip.png" /></a>
                </li>
                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                    <a class="icono"><img src="/img/clip.png" /></a>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                    <a class="icono"><img src="/img/clip.png" /></a>
                </li>
                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                    <a class="icono"><img src="/img/clip.png" /></a>
                </li>

                <li>
                    <label class="nombre">Fernando Lopez Jimenez </label>
                    <label class="NumControl"> 191G0256</label>
                    <a class="icono"><img src="/img/clip.png" /></a>
                </li>

            </ul>





        </div>


    </div>



    <script src="~/scripts/solicitudes.js"></script>



</body>
</html>