@page
@model Residenciasweb.pages.login.TareasModel
@{
}
<html>
<head>

    <link href="~/styles/registroresidente.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <header id="Header">
        <nav>
            <img src="~/img/logo.png" />
        </nav>

        <nav>
            <p id="mostrarnombre"> </p>
        </nav>

        <nav>
            <img id="cerrarsesion" class="imgU" src="~/img/cerrar.png" />
        </nav>

    </header>
    <div class="contenedor">
        <section class="list">
            <div>
                <ul>
                    <content><a>Archivos</a></content>
                    <li>
                        <a data-tarea="tarea1">Tarea 1</a>
                    </li>
                    <li><a data-tarea="tarea2">2. CARTA DE PRESENTACIÓN</a></li>
                    <li><a data-tarea="tarea3">3. CARTA COMPROMISO</a></li>
                    <li><a data-tarea="tarea4">4. PLAN DE REUNIONES</a></li>
                    <li><a data-tarea="tarea5">5 REPORTE PRELIMINAR DE RESIDENCIAS</a></li>
                    <li><a data-tarea="tarea6">6. PRIMERA EVALUACIÓN DEL SEGUIMIENTO DE RESIDENCIA PROFESIONAL</a></li>
                    <li><a data-tarea="tarea7">7. SEGUNDA EVALUACIÓN DEL SEGUIMIENTO DE RESIDENCIA PROFESIONAL</a></li>
                    <li><a data-tarea="tarea8">8. ELABORACIÓN DEL INFORME FINAL</a></li>
                    <li><a data-tarea="tarea9">9. EVALUACIÓN DEL INFORME FINAL</a></li>
                    <li><a data-tarea="tarea10">ACTIVIDAD 10. LIBERACIÓN DE RESIDENCIA PROFESIONAL</a></li>
                </ul>
            </div>


        </section>

        <div class="derecha" id="tarea1">
            <form class="formtarea1">
                <input id="traeidresidente" class="btn" name="idres" type="number" value="13" />
                <input id="numtarea" class="btn" name="ntarea" type="number" value="1" />
                <h2 id="titulo"></h2>
                <br />
                <label id="fecha" class="date" ></label>

                <a >Intruccion</a>
                <p id="instruccion">
                    ¡Bienvenido a tu nuevo hogar en nuestra residencia!

                    En nuestra comunidad, nos complace darte la bienvenida. Estamos comprometidos a proporcionarte un ambiente seguro, cómodo y enriquecedor durante tu estancia aquí.

                    En este lugar, encontrarás no solo un espacio físico para descansar, estudiar y crecer, sino también una comunidad vibrante de compañeros residentes y personal dedicado. Nos esforzamos por crear un entorno que fomente el aprendizaje, la amistad y el bienestar personal.

                    Te animamos a participar en las diversas actividades y eventos que organizamos para hacer de tu experiencia residencial algo memorable. Ya sea asistiendo a reuniones comunitarias, participando en actividades deportivas o simplemente socializando con tus compañeros, queremos que te sientas parte integral de nuestra comunidad.

                    Nuestro equipo está aquí para apoyarte en todo momento. Si tienes alguna pregunta, inquietud o necesitas asistencia, no dudes en comunicarte con nuestro personal de residencia. Estamos comprometidos a hacer de tu estancia aquí una experiencia positiva y enriquecedora.

                    Te deseamos todo lo mejor mientras comienzas esta nueva etapa. ¡Bienvenido a nuestra residencia!
                </p>

                <a>Ver PDF</a>
                <nav class="tareas" id="tareapdf">
                    <img src="/img/pdf.png" />
                    <p id="nombredelpdf" style="text-transform:uppercase"></p>
                </nav>
                <nav class="adjuntar">
                    <img src="/img/clip.png" />
                    <b> Adjuntar</b>
                </nav>
               
                <input type="file" name="archivoPdf" id="inputPdf" class="btnadjuntar" accept=".pdf" />

                <nav class="archivo">
                    <p class="mitarea"></p>
                    <input type="button" id="eliminarTarea" class="eliminar-btn" value="🗑️" />
                    <input type="button" id="verpdfbtn" value="&#128269;" />

                </nav>


                <div class="enviar">
                    <label class="errores"></label>
                    <div>
                        <p id="estatus"></p>
                        <input type="submit" id="enviarBtn" value="Enviar" />
                    </div>


                </div>



            </form>

        </div>

         
    </div>
    <script src="~/scripts/seguridad.js"></script>

    <script src="~/scripts/tareas.js"></script>
</body>
</html>
