@page
@model Residenciasweb.pages.admin.coordinador.AgregarTareasModel
@{
}
<html>
<head>
    <link href="~/styles/agregartareas.css" rel="stylesheet" />
    <title></title>
</head>

<body>


    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>
    </header>



    <div class="contenedorPrincipal">
        <form>

            <nav>
                <h2>Añadir Tarea</h2>
            </nav>

            <div class="contenedor">

                <div class="input-box">
                    <label>Nombre de la tarea</label>
                    <input name="nomtarea" type="text" />
                </div>

                <div class="input-box">
                    <label>Fecha de terminacion</label>
                    <input name="fechater" type="datetime-local" />
                </div>

                <div class="input-box">
                    <label>Numero de Tarea:</label>
                    <select name="numTareas">
                        <option value="1">Nombretarea</option>
                        <option value="2">Nombretarea</option>
                        <option value="3">Nombretarea</option>
                        <option value="4">Nombretarea</option>
                        <option value="5">Nombretarea</option>
                        <option value="6">Nombretarea</option>
                        <option value="7">Nombretarea</option>
                        <option value="8">Nombretarea</option>
                        <option value="9">Nombretarea</option>
                        <option value="10">Nombretarea</option>

                    </select>
                </div>

                <div class="input-box">
                    <label>Archivo</label>
                    <input type="file" name="archivoPdf" id="inputPdf" class="btnadjuntar" accept=".pdf" />
                </div>



                <textarea name="instruccion"></textarea>




            </div>


            <div class="boton">


                <input type="button" value="cancelar" />
                <input id="enviarbBtn" type="submit" value="Agregar" />


            </div>
            <label class="errores">ocurrio un error </label>

        </form>
    </div>

    <script src="~/scripts/añadirtarea.js"></script>
</body>
</html>