@page
@model Residenciasweb.pages.admin.coordinador.AgregarTareasModel
@{
}
<html>
    <head>
        <title></title>
    </head>

    <body>

        <div>
            <form>
            <nav>
                <h2>Añadir Tarea</h2>
            </nav>

                <label>Nombre de la tarea</label>
                <input type="text" />

                <label>Fecha de terminacion</label>
                <input type="datetime-local" />

                <textarea></textarea>

                <input type="button" value="cancelar" />
                <input type="submit"value="Agregar" /> 

            </form>
        </div>
    </body>
</html>
