@page
@model Residenciasweb.pages.admin.coordinador.AgregarTareasModel
@{
}
<html>
<head>
    <link href="~/styles/agregartareas.css" rel="stylesheet" />
    <title></title>
</head>

<body>


    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>
    </header>



    <div class="contenedorPrincipal">
        <form>

            <nav>
                <h2>Añadir Tarea</h2>
            </nav>

            <div class="contenedor">

                <div class="input-box">
                    <label>Nombre de la tarea</label>
                    <input name="nomtarea" type="text" required title="Por favor, selecciona una fecha de terminación." />
                </div>

                <div class="input-box">
                    <label>Fecha de terminacion</label>
                    <input name="fechater" type="datetime-local" required title="Por favor, selecciona una fecha de terminación." />
                </div>

                <div class="input-box">
                    <label>Numero de Tarea:</label>
                    <select name="numTareas">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>

                    </select>
                </div>

                <div class="input-box">
                    <label>Archivo</label>
                    <input type="file" name="archivoPdf" id="inputPdf" class="btnadjuntar" accept=".pdf" />
                </div>



                <textarea name="instruccion" required title="Por favor, selecciona una fecha de terminación."></textarea>




            </div>


            <div class="boton">


                <input id="cancelar" type="button" value="cancelar" />
                <input id="enviarbBtn" type="submit" value="Agregar" />


            </div>
            <label id="errores" class="errores"></label>

        </form>
    </div>

    <script src="~/scripts/añadirtarea.js"></script>
</body>
</html>