@page
@model Residenciasweb.pages.admin.coordinador.AgregarTareasModel
@{
}
<html>
<head>
    <title></title>
</head>

<body>

    <div>
        <form>
            <nav>
                <h2>Añadir Tarea</h2>
            </nav>

            <label>Nombre de la tarea</label>
            <input name="nomtarea" type="text" />

            <label>Fecha de terminacion</label>
            <input name="fechater" type="datetime-local" />

            <label>Numero de Tarea:</label>
            <select name="numTareas">
                <option value="1">Nombretarea</option>
                <option value="2">Nombretarea</option>
                <option value="3">Nombretarea</option>
                <option value="4">Nombretarea</option>
                <option value="5">Nombretarea</option>
                <option value="6">Nombretarea</option>
                <option value="7">Nombretarea</option>
                <option value="8">Nombretarea</option>
                <option value="9">Nombretarea</option>
                <option value="10">Nombretarea</option>

            </select>

            <input type="file" name="archivoPdf" id="inputPdf" class="btnadjuntar" accept=".pdf" />

            <textarea name="instruccion"></textarea>


            <label class="errores"></label>

            <input type="button" value="cancelar" />
            <input id="enviarbBtn" type="submit" value="Agregar" />

        </form>
    </div>

    <script src="~/scripts/añadirtarea.js"></script>
</body>
</html>
