@page
@model Residenciasweb.pages.admin.coordinador.verTareasAsignadasModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="/styles/VerTareas.css" />
</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>

        <nav>
            <p id="nombrecordi">RESIDENCIAS PROFESIONALES</p>
        </nav>

        <nav>
            <img class="imgU" src="~/img/usuario.png" />
        </nav>

    </header>


    <div class="Alumnos">

        <ul>

            <li>
                <label class="NumeroTarea">1. </label>
                <label class="Tarea">Seleccion De Empresa de Residencia</label>
                <div class="botones">
                    <button><img src="~/img/busqueda.png" /></button>
                    <button><img src="~/img/boligrafo.png" /></button>
                    <button><img src="/img/Delate.png" /></button>
                </div>

            </li>

            <li>
                <label class="NumeroTarea">1. </label>
                <label class="Tarea">Seleccion De Empresa de Residencia</label>
                <div class="botones">
                    <button><img src="~/img/busqueda.png" /></button>
                    <button><img src="~/img/boligrafo.png" /></button>
                    <button><img src="/img/Delate.png" /></button>
                </div>

            </li>

            <li>
                <label class="NumeroTarea">1. </label>
                <label class="Tarea">Seleccion De Empresa de Residencia</label>
                <div class="botones">
                    <button><img src="~/img/busqueda.png" /></button>
                    <button><img src="~/img/boligrafo.png" /></button>
                    <button><img src="/img/Delate.png" /></button>
                </div>

            </li>

        </ul>


    </div>
    <script src="~/scripts/seguridad.js"></script>
    <script src="~/scripts/vertareasasignadas.js"></script>
</body>
</html>