@page
@model Residenciasweb.pages.admin.coordinador.verTareasAsignadasModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="/styles/VerTareas.css" />
</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>

        <nav>
            <p id="nombrecordi"></p>
        </nav>

        <nav>
            <img id="cerrarsesion" class="imgU" src="~/img/cerrar.png" />
        </nav>

    </header>


    <div class="Alumnos">

        <ul>

        </ul>


    </div>
    <div class="boton">
        <button id="miBotonRe">Regresar</button>
        <button id="miBoton">Mi Botón</button>
    </div>
    <script src="~/scripts/seguridad.js"></script>
    <script src="~/scripts/vertareasasignadas.js"></script>
</body>
</html>