@page
@model Residenciasweb.pages.Registro.RegistroAlumnoModel
@{
}
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/styles/registroAdmin.css" rel="stylesheet" />


</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />

        </nav>
    </header>

    <div class="container">

        <form>


            <nav>
                <h2>Registrar Alumno</h2>
            </nav>
            <div class="fields">

                <div class="input-box">
                    <label>Nombre Completo:</label>
                    <input  name="nombre" type="text" />
                </div>

                <div class="input-box">
                    <label>Numero de Control:</label>
                    <input  name="numcontrol" style="text-transform:uppercase" type="text" />
                </div>


                <div class="input-box">
                    <label>Carrera:</label>
                    <select name="carreras">
                        <option value="1">Ingeniería Industrial</option>
                        <option value="2">Ingeniería Industrial mixta</option>
                        <option value="3">Ingeniería Sistemas</option>
                        <option value="4">Ingeniería Sistemas mixtas</option>
                        <option value="5">Ingeniería Electromecanica</option>
                        <option value="6">Ingeniería Mecatronica</option>
                        <option value="7">Ingeniería Petrolera</option>
                        <option value="8">Ingeniería Administracion</option>
                        <option value="9">Ingeniería Quimica</option>
                        <option value="10">Ingeniería Animacion Digital</option>
                        <option value="11">Ingeniería Administracion en linea</option>

                    </select>
                </div>

                <div class="input-box">
                    <label>Fecha:</label>
                    <input  name="fecha" type="datetime-local" />

                </div>


                <div class="input-box">
                    <label>Nombre del Asesor:</label>
                    <input  name="asesor" type="text" />
                </div>

                <div class="input-box">
                    <label>Contraseña:</label>
                    <input  name="contraseña" type="password" />
                </div>

                <div class="input-box">
                    <label>Confirmar Contraseña:</label>
                    <input  name="confirmarContraseña" type="password" />
                </div>

            </div>
            <div class="botones">
                <input type="submit" value="Guardar"></>
                <input type="button" value="Cancelar"></>

            </div>
            <label class="errores"></label>

        </form>

    </div>
    <script src="~/scripts/agregarresidentes.js"></script>


</body>
</html>
