@page
@model Residenciasweb.pages.Registro.registroResidenteModel
@{
}
<html>
<head>
    <link href="~/styles/registroresidente.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <header>
        <nav>
            <img src="~/img/logo.png" />
        </nav>
    </header>
    <div class="contenedor">
        <section class="list">
            <div>
                <ul>
                    <content><a>Archivos</a></content>
                    <li>
                        <a data-tarea="tarea1">Tarea 1</a>
                    </li>
                    <li><a data-tarea="tarea2">2. CARTA DE PRESENTACIÓN</a></li>
                    <li><a data-tarea="tarea3">3. CARTA COMPROMISO</a></li>
                    <li><a data-tarea="tarea4">4. PLAN DE REUNIONES</a></li>
                    <li><a data-tarea="tarea5">5 REPORTE PRELIMINAR DE RESIDENCIAS</a></li>
                    <li><a data-tarea="tarea6">6. PRIMERA EVALUACIÓN DEL SEGUIMIENTO DE RESIDENCIA PROFESIONAL</a></li>
                    <li><a data-tarea="tarea7">7. SEGUNDA EVALUACIÓN DEL SEGUIMIENTO DE RESIDENCIA PROFESIONAL</a></li>
                    <li><a data-tarea="tarea8">8. ELABORACIÓN DEL INFORME FINAL</a></li>
                    <li><a data-tarea="tarea9">9. EVALUACIÓN DEL INFORME FINAL</a></li>
                    <li><a data-tarea="tarea10">ACTIVIDAD 10. LIBERACIÓN DE RESIDENCIA PROFESIONAL</a></li>
                </ul>
            </div>


        </section>

        <div class="derecha" id="tarea1">
            <form class="formtarea1">
                <h2>1.Seleccion de empresas de residencias </h2>
                <br />
                <a>Intruccion</a>
                <p>
                    Instruccion:En esta segunda actividad, deben solicitar una carta de presentación en el Departamento de Residencia Profesional y Servicio Social de nuestra institución una vez que hayan identificado una empresa donde deseen realizar su Residencia. Esta carta de presentación es un requisito importante y también se solicita a aquellos alumnos que llevarán a cabo residencias en sus lugares de trabajo.

                    Asegúrense de presentar la documentación requerida y explicar los detalles de la empresa en la que desean hacer la Residencia. Los datos que se les solicitarán son: la Razón Social de la empresa, el nombre de la persona a la que va dirigida la carta y su puesto dentro de la empresa, el número de control, el nombre completo y la carrera del estudiante.

                    Pueden solicitar la carta de presentación por correo electrónico a residencia@rcarbonifera.tecnm.mx o de manera presencial en el departamento de Servicio Social y Residencias Profesionales. Les recomendamos solicitar tantas cartas como sean necesarias para cubrir sus requerimientos.

                    Una vez que hayan recibido la carta de presentación, llévenla a la empresa donde realizarán la Residencia Profesional y asegúrense de obtener el acuse correspondiente (firma y sello de la empresa). La carta con el acuse debe ser entregada en formato PDF por correo electrónico o entregado físicamente en el Departamento de Servicio Social y Residencia Profesional.

                    La carta de presentación estará disponible para su entrega al día hábil siguiente, pueden solicitar que se las envíen a su correo o recogerla personalmente en el departamento.

                    Ante cualquier duda o consulta adicional, no duden en comunicarse con nosotros en el canal General.

                    Entregable:

                    Solicitud de la carta de presentación con el acuse adjunto en formato PDF
                </p>


                <a>Descargar</a>
                <nav class="tareas">
                    <img src="/img/pdf.png" />
                    <p>00. SELECCION DE EMPRESAS DE RESIDENCIAS.PDF </p>
                </nav>
                <nav class="adjuntar">
                    <img src="/img/clip.png" />
                    <b> Adjuntar</b>
                </nav>
                <nav class="tareas">
                    <p class="mitarea">00. SELECCION DE EMPRESAS DE RESIDENCIAS.PDF </p>
                </nav>


                <div class="enviar">
                    <div>
                        <p>No entregado</p>
                        <input type="button" value="Enviar" />
                    </div>


                </div>



            </form>

        </div>

        <div class="derecha" id="tarea2">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
        <div class="derecha" id="tarea3">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
        <div class="derecha" id="tarea4">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
        <div class="derecha" id="tarea5">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
        <div class="derecha" id="tarea6">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
        <div class="derecha" id="tarea7">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
        <div class="derecha" id="tarea8">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
        <div class="derecha" id="tarea9">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
        <div class="derecha" id="tarea10">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>

        </div>
    </div>


    <script src="~/scripts/tareas.js"></script>
</body>
</html>