@page
@model Residenciasweb.pages.Registro.RegistroAdminModel
@{
}
<html>
<head>
    <link href="~/styles/registroAdmin.css" rel="stylesheet" />


</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />

        </nav>
    </header>

    <div class="container">

        <form>
            <nav>
                <h2>Iniciar Sesión</h2>
            </nav>
            <div class="fields">
                <div class="input-box">
                    <label>Nombre Completo :</label>
                    <input type="text" />
                </div>
                <div class="input-box">
                    <label>Correo Institucional :</label>
                    <input type="text" />
                </div>

                <div class="input-box">
                    <label>Numero de Control :</label>
                    <input type="text" />
                </div>


                <div class="input-box">
                    <label>Carrera :</label>
                    <select></select>
                </div>


                <div class="input-box">
                    <label>Contraseña :</label>
                    <input type="password" />
                </div>

                <div class="input-box">
                    <label>Confirmar Contraseña :</label>
                    <input type="password" />
                </div>
                  


            </div>
            <div class="botones">
                <input type="button" value="Guardar" />
                <input type="button" value="Cancelar" />
            </div>


        </form>
    </div>
    <script src="~/scripts/registroadmin.js"></script>



</body>
</html>
