@page
@model Residenciasweb.pages.Registro.registroResidenteModel
@{
}
<html>
<head>
    <link href="~/styles/registroresidente.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <section>
        <div>
            <ul>
                <li><a>00.FOLLETO DE RESIDENCIA PROFESIONAL</a></li>
                <li><a>Tarea 2</a></li>
                <li><a>Tarea 3</a></li>
                <li><a>Tarea 4</a></li>
                <li><a>Tarea 5</a></li>
                <li><a>Tarea 6</a></li>
                <li><a>Tarea 7</a></li>
                <li><a>Tarea 8</a></li>
                <li><a>Tarea 9</a></li>
                <li><a>Tarea 10</a></li>
            </ul>
        </div>

        <div class="derecha">
            <h2>hola hujos de puta</h2>
            <p>Me encanta el nepe</p>
        </div>

        <div class="derecha">
            <h2>hola hombre</h2>
            <p>xd</p>
        </div>
    </section>
</body>
</html>