@page
@model Residenciasweb.pages.Registro.RegistroAlumnoModel
@{
}
<html>
<head>
    <link href="~/styles/registroAdmin.css" rel="stylesheet" />


</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />

        </nav>
    </header>

    <div class="container">

        <form>


            <nav>
                <h2>Iniciar Sesión</h2>
            </nav>
            <div class="fields">

                <div class="input-box">
                    <label>Nombre Completo:</label>
                    <input name="nombre" type="text" />
                </div>

                <div class="input-box">
                    <label>Numero de Control:</label>
                    <input name ="numcontrol" type="text" />
                </div>


                <div class="input-box">
                    <label>Carrera:</label>
                    <select name="carreras">
                        <option value="D">Ingeniería Industrial</option>
                        <option value="DD">Ingeniería Industrial mixta</option>
                        <option value="G">Ingeniería Sistemas</option>
                        <option value="GD">Ingeniería Sistemas mixtas</option>
                        <option value="T">Ingeniería Electromecanica</option>
                        <option value="M">Ingeniería Mecatronica</option>
                        <option value="P">Ingeniería Petrolera</option>
                        <option value="A">Ingeniería Administracion</option>
                        <option value="Q">Ingeniería Quimica</option>
                        <option value="V">Ingeniería Animacion Digital</option>
                        <option value="AL">Ingeniería Administracion en linea</option>

                    </select>
                </div>

                <div>
                    <label>Fecha:</label>
                    <input name="fecha" type="datetime-local" />
                    
                </div>


                <div class="input-box">
                    <label>Nombre del Asesor:</label>
                    <input name="asesor" type="text" />
                </div>

                <div class="input-box">
                    <label>Contraseña:</label>
                    <input name="contraseña" type="password" />
                </div>

                <div class="input-box">
                    <label>Confirmar Contraseña:</label>
                    <input type="password" />
                </div>

            </div>
            <div class="botones">
                <input type="submit" value="Guardar"></>
                <input type="button" value="Cancelar"></>

            </div>

        </form>
    </div>
    <script src="~/scripts/agregarresidentes.js"></script>


</body>
</html>
