@page
@model Residenciasweb.pages.Registro.RegistroAlumnoModel
@{
}
<html>
<head>
    <link href="~/styles/registro.css" rel="stylesheet" />


</head>
<body>

    <header>
        <nav>
            <img src="~/img/logo.png" />
           
        </nav>
    </header>
  
    <div class="container">
      
       <form action="#">

            <div class="form first">
                <div class="details personal">
                  

                    <div class="fields">

                        <div class="input-box">
                            <label>Nombre Completo:</label>
                            <input type="text" />
                        </div>
                        <div class="input-box">
                            <label>Correo Institucional:</label>
                            <input type="text" />
                        </div>

                        <div class="input-box">
                            <label>Numero de Control:</label>
                            <input type="text" />
                        </div>


                        <div class="input-box">
                            <label>Carrera:</label>
                            <select></select>
                        </div>

                        <div class="input-box">
                            <label>Grupo:</label>
                            <input type="text" id="enty" />
                        </div>

                        <div class="input-box">
                            <label>Semestre:</label>
                            <input type="number" id="enty"/>
                        </div>


                        <div class="input-box">
                            <label>Nombre del Asesor:</label>
                            <input type="text" />
                        </div>

                        <div class="input-box">
                            <label>Contraseña:</label>
                            <input type="password" />
                        </div>

                        <div class="input-box">
                            <label>Confirmar Contraseña:</label>
                            <input type="password" />
                        </div>


                        <div class="botones">
                            <button>
                                <span>Guardar</span>
                            </button>

                            <button>
                                <span>Cancelar</span>
                            </button>


                        </div>





                    </div>

                   










                </div>
            </div>







       </form>
    </div>
       
  

</body>
</html>
