@page
@model Residenciasweb.pages.Registro.registroResidenteModel
@{
}
<html>
<head>
    <link href="~/styles/registroresidente.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <section>
        <div>
            <ul>
                <li><a data-tarea="tarea1">Tarea 1</a></li>
                <li><a data-tarea="tarea2">Tarea 2</a></li>
                <li><a data-tarea="tarea3">Tarea 3</a></li>
                <li><a data-tarea="tarea4">Tarea 4</a></li>
                <li><a data-tarea="tarea5">Tarea 5</a></li>
                <li><a data-tarea="tarea6">Tarea 6</a></li>
                <li><a data-tarea="tarea7">Tarea 7</a></li>
                <li><a data-tarea="tarea8">Tarea 8</a></li>
                <li><a data-tarea="tarea9">Tarea 9</a></li>
                <li><a data-tarea="tarea10">Tarea 10</a></li>
            </ul>
        </div>

        <div class="derecha" id="tarea1">
            <form class="formtarea1">
                <h2>hola hujos de puta</h2>
                <p>Me encanta el nepe</p>
            </form>
            
        </div>

        <div class="derecha" id="tarea2">
            <form class="formtarea2">
                <h2>hola hombre</h2>
                <p>xd</p>
            </form>
            
        </div>
    </section>
    <script src="~/scripts/tareas.js"></script>
</body>
</html>